SUPABASE_URL=https://tjqxsxazhappojxbxxuc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqcXhzeGF6aGFwcG9qeGJ4eHVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzOTExODYsImV4cCI6MjA5MDk2NzE4Nn0.JZLlbtI7uQOAqvwlDS6BjJDWUV7hemPtIT7Ub2WVQfY
PORT=5000
